{% extends 'users/base_auth_form.html' %}

{% load widget_tweaks %}

{% block title %}Регистрация{% endblock %}

{% block card_title %}
    <h2 class="auth-card">Регистрация</h2>
{% endblock %}

{% block field_render %}
    {% if field.name == 'phone' %}
        <div class="phone-field-container">
            {{ field|add_class:"form-control" }}
        </div>
    {% elif field.name == 'password' %}
        <div class="password-container">
            {{ field|add_class:"form-control" }}
            <i class="bi bi-eye-slash toggle-password"></i>
        </div>
    {% else %}
        {{ field|add_class:"form-control" }}
    {% endif %}
{% endblock %}